COMPANY01:
    MDATP:
        TENANTID: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        APPID: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        APPSECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

COMPANY02:
    MDATP:
        TENANTID: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        APPID: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        APPSECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

    SENTINEL:
        BASEURL: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        TOKEN: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

COMPANY03:
    CROWDSTRIKE:
        BASEURL: XXXXXXXXXXXXXXXXXXXXXXXXXX
        FALCONURL: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        CLIENTID: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        SECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

COMPANY04:
    TMV1:
        BASEURL: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        TOKEN: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX